.about-section {
  background: #c5c5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* REMOVE vertical centering */
  align-items: flex-start;
  padding: 60px;
}

/* RIGHT: BLURB */
.about-blurb {
  width: 100%;
  font-family: "Instrument Serif", serif;
  font-family: "Outfit";
  font-size: 28px;
  line-height: 1.4;
  color: #333;
  color: #4f4b4b;
  color: #868585;
  color: #888888;
  box-sizing: border-box;

  /* Add your padding here */
}

/* ------ MOBILE STACK ------ */
@media (max-width: 900px) {
  .about-section {
    background: #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* REMOVE vertical centering */
    align-items: flex-start;
    padding: 10px;
    padding: 30px;
  }
  .about-inner {
    flex-direction: column;
    align-items: center; /* center both on mobile */
    text-align: center;
    gap: 30px;
  }

  .about-blurb {
    font-size: 18px;
    text-align: left;
  }
}

/* ---- MORPHING TITLE ---- */
.abouttext-container {
  position: relative;
  width: 100%;
  height: 70px;
  filter: url(#about-threshold) blur(0.6px);
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .abouttext-span {
    text-align: center; /* center on mobile */
  }

  .about-title {
    width: 100%;
    height: 100px;
  }
}

/* Invisible SVG filter */
.abouttext-filter-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.inline-iframe {
  border: none;
  vertical-align: middle;
  pointer-events: none; /* prevents scroll jank */
}

.about-title {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-i-frame {
  width: 530px;
  border: none;
  outline: none;
  height: 180px;
}

.wavy-role {
  display: inline-block; /* helps the filter feel more contained */
  filter: url(#filter);
  font-weight: 500;
}
