@use "./nav.scss";
@use "./work.scss";
@use "./loading.scss";
@use "./projects.scss";
@use "./pagesstrings.scss";
@use "./hero.scss";
@use "./about.scss";
@use "./home.scss";
@use "./elastic-menu.scss";
@use "./morph-text.scss";
