/* desktop / default */
.heroNavXL {
  font-size: 45px;
  display: inline-block; /* so scale doesn't distort layout */
}

/* mobile scaling */
@media (max-width: 800px) {
  .heroNavXL {
    font-size: 24px;
    transform-origin: center;
  }
}

.nav-item {
  width: 120px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
